<!DOCTYPE html>
<html>
<head>
  <title>Jordan Brown</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Bubbler+One' rel='stylesheet' type='text/css'>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= render 'shared/header', h1: action_name == 'home' ? 'Jordan Brown' : controller_name.capitalize %>
<%= yield %>

</body>
</html>
